.navigation {
    list-style: none;
    display: flex;
    border: 2px solid limegreen;
    padding: 0px;
}

.navigation li{
    padding: 5px;
}

#action {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

table{
    border: 1px solid black;
}

tbody tr{
    background-color: lightgray;
}
tbody tr:nth-of-type(even) {
    background-color: darkgrey;
}