@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html {
    background-color: lightyellow;
    font-family: 'Open Sans', sans-serif;
}

.login-container {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}



.login-box {
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;

    background-color: lavender;

}

.login-box * {
    margin: 2px;
}

.login-box input[type=button] {
    background-color: limegreen;
    border-radius: 12px;
    padding: 5px;

}


@media (max-width: 600px) {
    .login-container {
        flex-direction: column;
        align-items: center;

    }

    .login-box{
        margin: 10px;
    }

}



