body {
    margin: 0px;
}

button{
    background-color: aquamarine;

}

.list {
    list-style: none;
    border: 2px solid limegreen;
    padding: 0px;
    text-align: center;
}

.list li{
    padding: 5px;
}

.list button{
    border-radius: 0px;
    width: 40vh;
}

table{
    border: 1px solid black;
}

tbody tr{
    background-color: lightgray;
}
tbody tr:nth-of-type(even) {
    background-color: darkgrey;
}


.navigation {
    list-style: none;
    display: flex;
    border: 2px solid limegreen;
    padding: 0px;
    margin: 0px;
}

.navigation li {
    padding: 0px;

}

.navigation li button {
    padding: 5px;
}

@media (max-width: 600px) {
    .navigation {
        flex-direction: column;
    }

    .navigation li button {
        width: 100%;
    }
}